@use './var'as var;
@use './mixin' as mixin;
@use './basic';

// -----------------------------------------------------------------------------

@media(min-width:1020px){

header{
  // border: var.$solid-gray;
  width: 90%;
  height: 15%;
  &>div:nth-child(1){
    display: none;
  }
}

#text{
  width: 50%;
  position: relative;
}


#container{
  width: 85%;
  flex-direction: row;

  &>div:first-child{display: none;}

  &>div:last-child{
    @include mixin.size(var.$per-100,90%);
    @include mixin.flex-setting(space-evenly, center);
    
    
    &>div:first-child{
      @include mixin.size(30%,95%);
      @include mixin.flex-setting(center, center);
      
        &>div{
          @include mixin.box-style(300px, 300px, var.$color-1, 50% );
          @include mixin.flex-setting(center, center,column);
          text-align: center;
          line-height: 30px;
          @include mixin.font-style(1.1rem, 550, var.$color-4);
          cursor: pointer;
          
          &>i{
            margin-top: 1vh;
          }
        }
    }

    &>div:last-child {
      @include mixin.size(70%,95%);
      @include mixin.flex-setting(space-evenly, center, column);

      &>div{
        width: 80%;
        height: 45%;
        @include mixin.flex-setting(space-between, center);
      }
      
      &>div:nth-child(1){
        &>div:nth-child(1){
          width: 35%;
          height: 95%;
    
          &>img{
            width: 90%;
            height: 100%;
          }
        }
    
        &>div:nth-child(2){
          width: 45%;
          height: var.$per-100;
          @include mixin.font-style(1.1rem, 500, var.$color-4);
          @include mixin.flex-setting(center, center);
          line-height: 25px;
        }
      }

      &>div:nth-child(2){
        &>div{
          width: 32%;
          height: 95%;
    
          &>img{
            width: var.$per-100;
            height: var.$per-100;
            opacity: 0.8;
          }
        }
      }
    }


  }

}

footer{
  width: 85%;
}

}