@use './var'as var;
@use './mixin' as mixin;
@use './basic';

// -----------------------------------------------------------------------------

@media(min-width:500px){

  #root {
    // justify-content: center;
    
    &>header{order:1;}
    &>main{order:3;}
    &>footer{order:2;}
  }
  
  main{

    &>div:nth-child(1){
      width: 90%;
    }
  
    &>div:nth-child(2){
      width: 90%;
    }
  
    &>div:nth-child(3){
      width: 90%;

      &>div{
        width: 35%;
        height: 80%;
      }
    }
    }
  
}