@use './var'as var;
@use './mixin' as mixin;
@use './basic';

// ------------------------------------------------------

#root{
  width: var.$width-root;
  height: 110vh;
  @include mixin.flex-setting(space-evenly, center, column);
}

header{
  width: var.$per-100;
  height: 15vh;
  @include mixin.flex-setting(space-evenly, center, column);

  &>div:first-child{
    width: 90%;
    height: 80%;
    @include mixin.flex-setting(flex-start, end);

    &>div{
      @include mixin.size(40px, 40px);
      @include mixin.flex-setting(center, center, column);
      border: var.$solid-pink;
      border-radius: 50%;
      
      &>i{
        color: var.$color-4;
        cursor: pointer;
      }
    }
  }

  &>h2:nth-child(2){
    width: 90%;
    height: 40%;
    @include mixin.flex-setting(center, center);
    color: var.$color-4;
  }

  &>h2:nth-child(3){
    display: none;
  }

}

main{
  width: var.$per-100;
  height: 95vh;
  @include mixin.flex-setting(space-evenly, center, column);

  &>section:nth-child(1){
    width: 90%;
    height: 35%;
    @include mixin.flex-setting(center, center, column);

    &>h2{
      display: none;
    }

    &>div{
      width: 90%;
      height: var.$per-100;
      border: var.$dotted-pink;
      border-radius: 30px;
      @include mixin.flex-setting(center, center, column);
      background-image: url("/project _1/module/img/trip_content.png") ;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      &>div:nth-child(1){
        @include mixin.flex-setting(center, center);
        width: 90%;
        height: 95%;
        @include mixin.font-style(0.8rem, 550, var.$color-1);
        line-height: 30px;
        padding-top: 5vh;
      }

      &>div:nth-child(2){
        @include mixin.box-style(45px, 45px, var.$color-1, 50%);
        @include mixin.posi-style(relative, 0%, 0%,2);
        @include mixin.flex-setting(center, center);
        color: #FA6747;
        @include mixin.posi-style(relative, 43%, 4%,1);
      }
    }
  } 
  
  &>section:nth-child(2){
    width: 90%;
    height: 65%;
    @include mixin.flex-setting(space-around, center, column);

    &>div:nth-child(1){
      width: 90%;
      height: 10%;
      @include mixin.flex-setting(center, center);
      
      &>h4{
        @include mixin.box-style(60%, 60%, var.$color-2, 20px);
        @include mixin.flex-setting(center, center);
        color: var.$color-4;
      }

    }
    
    &>div:nth-child(2){
      width: 90%;
      height: 60%;
      @include mixin.flex-setting(space-evenly, center, column);
      
      &>div{
        width: 90%;
        height: 30%;
        @include mixin.flex-setting(space-evenly, center);

        &>div:nth-child(1){
          width: 40%;
          height: 95%;

          .img-style{
            width:var.$per-100 ;
            height: var.$per-100;
            opacity: 0.8;
          }
        }

        &>div:nth-child(2){
          width: 50%;
          height: 95%;
          @include mixin.flex-setting(space-evenly, center, column);
          @include mixin.font-style(0.8rem, 500, var.$color-4);

          &>div:nth-child(2){
            width: 60%;
            height: 25%;
            @include mixin.flex-setting(center, center);
            border: var.$solid-pink;
            border-radius: 20px;
            cursor: pointer;
          }

        }
      }
      
    }
    
    &>div:nth-child(3){
      width: 90%;
      height: 20%;
      @include mixin.flex-setting(space-evenly, center, column);
      
      &>div{
        @include mixin.box-style(60%, 40%, var.$color-3, 30px);
        @include mixin.flex-setting(center, center);
        @include mixin.font-style(0.8rem, 550, var.$color-5);
        cursor: pointer;
      }
    }
  }
      
}




footer{
  @include mixin.size(var.$per-100, 5vh);
  background-color: var.$color-5;

  &>ul{
    @include mixin.flex-setting(space-evenly, center);
    list-style-type: none;
    width: var.$per-100;
    height: var.$per-100;
    color: var.$color-6;

    &> li{
      cursor: pointer;
      @include mixin.font-style(0.9rem, 550, var.$color-6);
    }
  }
}

