$width-root:100vw;
$height-root:100vh;
$col-black:black;
$col-white:white;
$col-bright-gray:#e2e2e2;
$col-gray:#c4c4c4;
$col-dark-gray:#838383;
$col-1:#EEFBFF;
$col-2: #DFE9EE;
$col-3: #D4ECFA;
$col-4: #95C9E5;
$col-5: #6A808C;
$col-6: #5D707A;
$per-100:100%;
$solid-gray : 1px, solid, gray;
