@use './var'as var;
@use './mixin' as mixin;
@use './basic';
// -----------------------------------------------------------------------------

@media(min-width:500px){

  #root {
    // justify-content: center;
    
    &>header{order:1;}
    &>main{order:3;}
    &>footer{order:2;}
  }
  
  header{

    &>div{
      width: 95%;
      height: 50%;
    }
  } 

  main{

    &>section:nth-child(2){
  
      // &>div{
      //   width: $width-per;
      //   height: $width-per;
      //   flex-direction: row;
      //   border: $dotted-color;
  
      //   &>div{
      //     width: 200px;
      //     height: 200px;
      //     background-color: $color-gray;
      //     border-radius: 40px;
    
      //     &>p{
      //       width: 60%;
      //       height: 60%;
      //       text-align: justify;
      //       color: $color-dark-gray;
      //     }
      //   }
      // }
    }
}
  
  
  
}