@use './var'as var;

@mixin position($posi, $zindx) {
  position: $posi;
  z-index: $zindx;
}

@mixin flex-setting($jus, $ali, $flexdirection : row) {
  display: flex;
  justify-content: $jus;
  align-items: $ali;
  flex-direction: $flexdirection;
}

@mixin root-style {
  width: var.$width-root;
  height: var.$height-root;
}  


@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin box-style($w, $h, $col, $radius : 0) {
  width: $w;
  height: $h;
  background-color: $col;
  border-radius: $radius;
}


@mixin font-style($rem, $weight, $col) {
  font-size: $rem ;
  font-weight: $weight;
  color: $col;
}

@mixin posi-style($posi, $left, $top, $zin) {
  position: $posi;
  left: $left;
  top: $top;
  z-index: $zin;
}



