$width-root:100vw;
$height-root:100vh;
$col-black:black;
$col-white:white;
$col-bright-gray:#e2e2e2;
$col-gray:#c4c4c4;
$col-dark-gray:#838383;
$col-1:#ebebeb;
$col-2: #c0c0c0;
$col-3: #a1a1a1;
$col-4: #838383;
$col-5: #464646;
$col-6: #363636;
$per-100:100%;
