@use './var'as var;
@use './mixin' as mixin;
@use './basic';
@use './tablet';

/* 
namespace를 정하고 가지고 왔음에도 계속 에러가 나옴 -> mixin에서 vqr시트를 @use했더니 ok
*/
// -----------------------------------------

#root{
  @include mixin.root-style;
  @include mixin.flex-setting(center, center, column);
  color: var.$col-4;

  &>div:nth-child(2){
    @include mixin.flex-setting(space-evenly, center);
    @include mixin.size(30%,5%);
    display: none;
  }
}

#container{
  @include mixin.size(var.$per-100, 90%);
  @include mixin.flex-setting(space-evenly, center, column);

  &> div:nth-child(1){
    @include mixin.box-style(80%, 55%, var.$col-1);
    @include mixin.flex-setting(center, center, column);
  
    &>h3{
      margin-top: 1vh;
    }
  }
  
  &> div:nth-child(2){
    @include mixin.box-style(50%, 25%, var.$col-1, 50px);
    @include mixin.posi-style(relative, 17%, 0%, 0);
    @include mixin.flex-setting(flex-end, flex-start, column);
    
    &>p{
      margin: 2vw;
    }
  }
}

