@use './var'as var;
@use './mixin' as mixin;
@use './basic';

/* 
namespace를 정하고 가지고 왔음에도 계속 에러가 나옴 -> mixin에서 vqr시트를 @use했더니 ok
*/
// -----------------------------------------

#root{
  @include mixin.root-style;
  @include mixin.flex-setting(center, center);
  color: var.$col-4;
}

#container{
  @include mixin.size(var.$per-100, var.$per-100);
  @include mixin.flex-setting(space-evenly, center, column);

  &> div:first-child{
    @include mixin.box-style(80%, 45%, var.$col-1);
    @include mixin.flex-setting(center, center, column);
  
    &>h3{
      margin-top: 1vh;
    }
  }
  
  &> div:last-child{
    @include mixin.box-style(50%, 25%, var.$col-1, 50px);
    @include mixin.posi-style(relative, 17%, 0%, 0);
    @include mixin.flex-setting(flex-end, flex-start, column);
    
    &>p{
      margin: 2vw;
    }
  }
}

